<div class="garden-area">
      <!-- creation du jardin 40.times => 4metres, etc. -->
  <div class="garden-container">
    <div class="line-t"></div>
    <div class="line-b"></div>
    <div class="line-l"></div>
    <div class="line-r"></div>

    <% 20.times do |index_y| %>
    <% 15.times do |index_x| %>
    <div class="BlockWrapper BlockWrapper--isDropzone garden-units" data-position="x<%= index_x %>-y<%= index_y %>">
      <span class="garden-square"><div class="BlockContent"></div></span>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

