<div class="sidebar-container">
  <div class="title-sidebar">
    <h1>Next tasks</h1>
  </div>
  <div class="action-task">
    <div class="action-color">
      <div class="action-logo">
        <p>⛏️</p>
      </div>
    </div>
    <div class="Action-title">
      <h2>Planting Tomato</h2>
    </div>
    <div class="see-more">
      <p><i class="fas fa-plus-circle"></i></p>
    </div>
  </div>
</div>
