<div class="sidebar-container">
  <div class="title-sidebar">
    <h1>Next tasks</h1>
  </div>
  <% @garden_vegetables.each do |garden_vegetable| %>
    <% garden_vegetable.tasks.each do |task| %>
      <% if task.done == false %>
        <div class="action-task">
          <% if garden_vegetable.vegetable.seeding_start == nil %>
            <% duration_time1 = garden_vegetable.vegetable.harvesting_start - garden_vegetable.vegetable.planting_start %>
          <% elsif garden_vegetable.vegetable.planting_start == nil %>
            <% duration_time1 = garden_vegetable.vegetable.harvesting_start - garden_vegetable.vegetable.seeding_start %>
          <% else %>
            <% duration_time1 = garden_vegetable.vegetable.planting_start - garden_vegetable.vegetable.seeding_start %>
            <% duration_time2 = garden_vegetable.vegetable.harvesting_start - garden_vegetable.vegetable.planting_start %>
          <% end %>

          <div class="action-color">
            <div class="action-logo">
              <p>⛏️</p>
            </div>
          </div>
          <div class="Action-title d-flex justify-content-evenly">
            <div class="specie-type">
              <%= task.action %>
              <strong><%= garden_vegetable.vegetable.specie %></strong>
            </div>
          </div>
          <div class="see-more">
            <p><i class="fas fa-plus-circle"></i></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
