<div class="sidebar-container">
  <%= image_tag("Logo-Easy-Garden.png", class: "logo-easy-garden") %>
  <div class="title-sidebar">
    <h1>Next tasks</h1>
  </div>
  <% @garden_vegetables.each do |garden_vegetable| %>
    <% garden_vegetable.tasks.each do |task| %>
      <% if task.done == false %>
        <div class="action-task" >
          <div class="action-color">
            <div class="action-logo">
              <p>⛏️</p>
            </div>
          </div>
          <div class="Action-title d-flex justify-content-evenly">
            <div class="specie-type">
              <%= task.action %>
              <strong><%= garden_vegetable.vegetable.specie %></strong>
            </div>
          </div>
          <div class="see-more">
            <button class="button-plus" task_id="<%= garden_vegetable.id %>"><i class="fas fa-plus-circle" ></i></button>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
