
    <div class="card-vegetable">
      <div class="vege-photo">
        <%= image_tag("courgette-photo.png", class: "card-vege-photo") %>
      </div>
      <h2>Tomate</h2>
      <p><em>Seeding between</em> <br>February and April</p>
    </div>
