
    <div class="card-vegetable">
      <div class="vege-photo">
        <%= image_tag("courgette-photo.png", class: "card-vege-photo") %>
      </div>
      <h2>Tomate</h2>
      <div class="d-flex justify-content-between">
        <p><em>Seeding</em> <br>February to April</p>
        <div class="d-flex align-items-center">
          <%= link_to 'See More', '#', class: 'button-see' %>
        </div>
      </div>
    </div>
