<div class="description-show">
  <i class="fas fa-minus-circle"></i>
  <div class="title-description">
    <h1><%= vegetable.specie %></h1>
  </div>
  <p class="general-description"></p>
  <div class="task-description">
    <ul class="tabs group">
      <li class="active"><a href="#">Seeding</a> <p>ezkfnkjd,z</p></li>
      <% if @vegetable.planting?%>
        <li><a href="#two">Planting</a></li>
      <% end %>
      <li><a href="#three">Harvesting</a></li>
    </ul>
  </div>
</div>
