<div class="sidebar-container">
  <%= image_tag("Logo-Easy-Garden.png", class: "logo-easy-garden") %>
  <div class="title-sidebar">
    <h1>Vegetables</h1>
  </div>
  <div class="action-task">
    <%= render 'vegetables/index' %>

  </div>
</div>


<div class="container-info">
  <div class="vegetable-description">
    <%= render 'vegetables/show' %>
  </div>
</div>
