<div class="container-div">
  <div class="title-garden" style="position: absolute;right: 650px;top: 75px;">
    <h1><%= @garden.title %></h1>
  </div>
  <div class="sidebar-container">
     <%= image_tag("Logo-Easy-Garden.png", class: "logo-easy-garden") %>
     <div class="title-sidebar">
      <h1>Next tasks</h1>
     </div>
      <%= render 'tasks/index' %>
    </div>
  </div>
  <div class="container-info">
    <div class="vegetable-description">
      <%= render 'tasks/show' %>
  </div>
</div>

