button{
  text-decoration: none;
}
.button-see {
  min-width: 85px;
  text-decoration: none;
  border: 1px solid rgba(0, 170, 37, 0.45);
  box-sizing: border-box;
  border-radius: 18px;
  padding: 5px;

}
.button-see:hover{
    background-color: rgba(0, 170, 37, 0.45);
  }
.button-plus{
  color: rgba(0, 170, 37, 0.45);
}

.button-plus:hover{
    color: gray;
  }

