.action-task{
  padding: 15px;
  margin: 10px 10px;
  text-align: center;
  h2{
    font-size: 18px;
  }
  h5{
    margin-bottom: 0px;
    font-size: 18px;
  }
  h6{
    margin-bottom: 0px;
    padding-right: 5px;
    font-weight: lighter;
    font-size: 14px

  }
}
.specie-type{
  padding: 0px 10px;
}
.action-logo{
  position: absolute;

}

.fa-question-circle{
  font-size: 18px;
}
