$L: 35px; //10cm
$H: 35px; //10cm

p {
  font-size: 10px;
}
.right-part{
  overflow: hidden;
}

.garden-area {
  width: (20 * $L)+300;
  height: (15 * $H)+200;
  margin: 10px auto ;
  border: 1px solid $light-gray;
  align-items: center;
  background-image: asset-url("garden-texture.png");
  background-size: 120%;
  background-repeat: round;
  // background-position: contain;
}

.mode-edit {
  .garden-units {
    border: 0.5px solid lightgrey;
  }
}



.garden-container {
  margin: 50px auto ;
  flex-grow: 1;
  width: (20 * $L);
  height: (15 * $H);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  .line-t {
    position: absolute;
    top:0px;
    background-image: asset-url('line_h.png');
    height: 10px;
    width: (20 * $L)+100px;
    right:-50px;
    z-index:11;
    background-position: center;
    background-size: cover;
  }
  .line-b {
    position: absolute;
    bottom:-10px;
    background-image: asset-url('line_b.png');
    height: 20px;
    width: (20 * $L)+100px;
    right:-50px;
    z-index:11;
    background-position: center;
    background-size: cover;
  }
  .line-l {
    position: absolute;
    left:0px;
    background-image: asset-url('line_l.png');
    height: (15 * $H) + 100px;
    width: 10px;
    top:-50px;
    z-index:11;
    background-position: center;
    background-size: cover;
  }
  .line-r {
    position: absolute;
    right:-10px;
    background-image: asset-url('line_r.png');
    height: (15 * $H) + 100px;
    width: 10px;
    top:-50px;
    z-index:11;
    background-position: center;
    background-size: cover;
  }
}

.garden-units {
  width: ($L);
  height: ($H);
  // border: 1px solid lightgrey;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vegetable {
  z-index: 11;
  margin: auto;
}

.Coucou-le-chat {
  position: relative;
}

.vegetable-container {
  width: (12 * $L);
  height: (9 * $H);
  display: flex;
  flex-wrap: wrap;
  margin-left: 500px;
}

.vegetable-units {
  width: ($L);
  height: ($H);
  background-color: blue;
  border: 1px solid black;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calibre-1 {
  height: $H;
  width: $L;
  object-fit: contain;

}
.calibre-2 {
  height: 2 * $H;
  width: 2 * $L;
  object-fit: contain;
}
.calibre-3 {
  height: 3 * $H;
  width: 3 * $L;
  object-fit: contain;
  object-position: center;
}

.panier {
  display: flex;
}
.veggie-area {
  transition: 1s;
  position: absolute;
  opacity:0.8;
  // background-image: asset-url("background-urgency/urgence_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 8;
}


.hidden{
  display: none;
}

.green-area, .urgency-1-area {
  background-image: asset-url("background-urgency/urgence_1.png");
}

.urgency-2-area {
  background-image: asset-url("background-urgency/urgence_2.png");
}

.urgency-3-area {
  background-image: asset-url("background-urgency/urgence_3.png");
}

.red-area, .urgency-4-area {
  background-image: asset-url("background-urgency/urgence_4.png");
}



.mode-show {
  .green-area {
    opacity:0.3;
  }
  .red-area {
    opacity:0.3;
  }
}

.hidden{
  display: none;
}

.garden-button {
  text-decoration: none;
}

.garden-vege-icon {
  // position: absolute;
  right: 0px;
  top: 0px;
  width: $L;
  height:$H;
  z-index: 15;
  object-fit: contain;
  position: relative;
}


.draggable-mirror .veggie-area  {
  top:300px;
}


