$L: 40px; //10cm
$H: 40px; //10cm

p {
  font-size: 10px;
}

.garden-container {
  width: (20 * $L);
  height: (15 * $H);
  display: flex;
  flex-wrap: wrap;
}

.garden-units {
  width: ($L);
  height: ($H);
  background-color: pink;
  border: 1px solid black;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vegetable {
  z-index: 10;
}


.vegetable-container {
  width: (12 * $L);
  height: (9 * $H);
  display: flex;
  flex-wrap: wrap;
}

.vegetable-units {
  width: ($L);
  height: ($H);
  background-color: blue;
  border: 1px solid black;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
