body{
  position: relative;
}
.sidebar-container{
  width: 25vw;
  min-width: 150px;
  height: 100vh;
  position: fixed;
  background-color: rgba(250,248,245,0.8);
  left: 0;
  top: 0;
  z-index: 2;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.title-sidebar{
  width: 22vw;

  height: 30px;
  background-color: rgba(0,170,37,0.25);
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  position: relative;
  h1{
    text-align: center;
    position: absolute;
    bottom: -30px;
    left: 90px;
  }
}

.cards-vegetables{

  position: fixed;
  overflow-y: scroll;
  top: 245px;
  width: 25vw;
  bottom: 20px;
}

.action-task{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  h2{
    font-size: 18px;
  }
}

.action-color{
  background-image: asset-url("background-urgency/urgence_1.png");
  background-size: cover;
  width: 45px;
  height: 45px;
  position: relative;
  z-index: 1;
}

.action-logo{
  position: absolute;
  left: 12px;
  top: 10px;
  p{
    font-size: 15px;
  }
}
.logo-easy-garden{

  width: 210px;
  height: 120px;
  margin: 30px;

}

.specie-type{
  text-transform: capitalize;
}

.fa-plus-circle{
  font-size: 18px;
}
