body{
  position: relative;
}
.sidebar-container{
  width: 20vw;
  height: 100vh;
  position: absolute;
  background-color: #faf8f5;
  left: 0;
  top: 0;
  z-index: -1;
  box-shadow: 0 px 3px rgba(0,0,0,0.1);
}
