.title-garden h1{
  text-align: left;
  font-weight: 400;
  font-size: 3rem;
}

  .title-garden h4{
  font-weight: lighter;
  }

.top-title{
  margin-top: 30px;
  margin-left: 55px;
}

.garden-button{
  align-self: center;
}
